blinker
certifi
charset-normalizer
click
filelock
flask
flask-mail
flask-sqlalchemy
fsspec
greenlet
hf-xet
huggingface-hub
idna
importlib-metadata
itsdangerous
jinja2
MarkupSafe
matplotlib
numpy
packaging
pandas
pillow
PyYAML
regex
requests
safetensors
seaborn
sklearn
sqlalchemy
tokenizers
torch
torchvision
tqdm
transformers
typing-extensions
urllib3
werkzeug
zipp
